<style>
  body {
    padding: 0;
    margin: 0;

    font-family: "Roboto" sans-serif;
  }

  .app {
    position: relative;
  }

  .container {
    background-color: #9d0526;
    position: absolute;
    padding: 1em 2em;

    width: 400px;

    left: 0;
    right: 0;
    margin: auto;

    top: 50vh;
    transform: translateY(-50%);

    border-radius: 5px;
  }

  .top-container {
    display: flex;
    justify-content: space-around;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    margin-right: 30px;
  }

  ul {
    padding: 0;
  }

  li {
    margin: 0.5em 0;
    color: #fff;
  }

  #item-button {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 0.5em;
    background-color: #de002d;
    margin-left: 10px;
  }

  input {
    border: none;
    border-radius: 10px;
    padding: 0.5em;
  }
</style>
<body>
  <div class="app">
    <div class="container">
      <div class="top-container">
        <h1>TO-DO LIST</h1>
        <img src=".././assets/angularlogo.png" width="80px" height="80px" />
      </div>
      <input
        type="text"
        id="item-input"
        #newTask
        (keyup)="(0)"
        (keyup.enter)="addTask(newTask.value); newTask.value = ''"
      />
      <button
        id="item-button"
        (click)="addTask(newTask.value); newTask.value = ''"
      >
        Adicionar
      </button>
      <ul id="items">
        <li *ngFor="let task of tasks">
          {{ task.title }}
        </li>
      </ul>
    </div>
  </div>
</body>
